<head>
   <p>
       <p><%= link_to "Login", index_usuarios_path %></p>
       <p><%= link_to "Cadastre-se", new_usuario_path %></p>
			 <p><%= link_to "Notícias", feed_path %></p>
     </p>
  </header>
